.search {
    background-color: #febb02;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 1px;
    gap: 4px;

    &__icon {
        color: lightgray;
    }

    &__item {
        display: flex;
        align-items: center;
        height: 45px;
        gap: 10px;
        background-color: white;
        padding: 0 10px;
        width: 100%;
        position: relative;

        &:last-child {
            padding: 0px;
            width: 125px;
        }
    }

    &__input {
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 500;

        &-button {
            color: black;
            position: absolute;
            right: 12px;
            opacity: 0.6;
            cursor: pointer;
        }

        &::placeholder {
            font-size: 13px;
            font-size: 400;
            opacity: 0.7;
        }
    }

    &__text {
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        color: rgb(0, 0, 0);
    }

    &__button {
        padding: 0px;
        width: 125px;
        height: 45px;
        font-weight: 500;
        font-size: 21px;
    }
}

.date {
    position: absolute;
    top: 60px;
    z-index: 2;
    left: 28.8%;
    box-shadow: 0 2px 16px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
}

.search__options {
    position: absolute;
    top: 60px;
    width: 260px;
    left: 58.4%;
    z-index: 2;
}